mixin burger-button()
  button(data-burger).burger-button
    <svg width="40" height="40" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M14 18H31.5" stroke="#ffffffff"/>
      <path d="M14 23H31.5" stroke="#ffffffff"/>
      <path d="M14 28H31.5" stroke="#ffffffff"/>
      <rect x="2.5" y="2.5" width="41" height="41" rx="7" stroke="#fff" stroke-width="1"/>
    </svg>
