mixin connection()
  .connection
    ul.connection__list
      li.connection__item
        a(href="https://wa.me/74951183282" target="_blank").connection__link
          img(src="images/whatsapp-icon.png" loading="lazy" alt="whatsapp" width="40" height="40").d-block
      li.connection__item
        a(href="https://t.me/username" target="_blank").connection__link
          img(src="images/telegram-icon.svg" loading="lazy" alt="whatsapp" width="40" height="40").d-block
      li.connection__item
        a(href="tel:+74951183282").connection__link +7 495 118-32-82
