mixin footer()
  footer.footer.text-center.border-r-40
    .footer__wrapper
      .wrapper
        h3.footer__title.font-i-reg © 2025 Все права защищены. Технология «Лид Конвейер» - лидогенерация для бизнеса.

        .footer__info ООО «ДС-ГРУПП» ИНН 7801355174 ОГРН 1187847129425

        ul.footer__list.color-grey
          li.footer__item
            a(href="#").footer__link Блог |
          li.footer__item
            a(href="#").footer__link Договор-оферта |
          li.footer__item
            a(href="#").footer__link Политика конфиденциальности |
          li.footer__item
            a(href="#").footer__link Соглашение об обработке данных |
          li.footer__item
            a(href="#").footer__link Вход в личный кабинет
