mixin links()
  .links
    ul.links__list
      li.links__item
        a(href='#home').links__link.menu-link
          span Как это работает
            img(src="images/menu-pointer.svg" loading="lazy" alt="pointer" width="17" height="8")
      li.links__item
        a(href='#price').links__link.menu-link
          span Цена
            img(src="images/menu-pointer.svg" loading="lazy" alt="pointer" width="17" height="8")
      li.links__item
        a(href='#consultation').links__link.menu-link
          span Отзывы
            img(src="images/menu-pointer.svg" loading="lazy" alt="pointer" width="17" height="8")
      li.links__item
        a(href='#gallery').links__link.menu-link
          span Контакты
            img(src="images/menu-pointer.svg" loading="lazy" alt="pointer" width="17" height="8")
