section.main-section#home.border-r-40
  .main-section__wrapper
    +header()
    .wrapper
      .main-section__inner

        h1.main-section__title.font-s-80
          span.color-primary Лидогенерация 
          br
          |для бизнеса

        h2.main-section__subtitle.font-s-32.font-i-reg Покупайте только целевые лиды 
          br
          |по фиксированной цене от 300 ₽
          img(src="images/smile-icon.png" loading="lazy" alt="icon" width="72" height="72").d-block

        .main-section__button
          button(href="#" data-remodal-target="modal-form-main").btn Выбрать пакет лидов

        .main-section__info.swiper-main.font-s-20
          ul.main-section__info-list.swiper-wrapper.transform-unset
            li.main-section__info-item.swiper-slide.border-r-20
              .main-section__info-card Лидогенерация в b2b
            li.main-section__info-item.swiper-slide.border-r-20
              .main-section__info-card Биржа лидов
            li.main-section__info-item.swiper-slide.border-r-20
              .main-section__info-card Сервис по Лидгену
            li.main-section__info-item.swiper-slide.border-r-20
              .main-section__info-card Лиды для производства
            li.main-section__info-item.swiper-slide.border-r-20
              .main-section__info-card Клиенты 
                br
                |для бизнеса
            li.main-section__info-item.swiper-slide.border-r-20
              .main-section__info-card Определить телефон 
                br
                |посетителя сайта
          .main-section__info-bullets.swiper-bullets.main-pagination

        .main-section__container
          .main-section__image
            img(src="images/main-image.png" loading="lazy" alt="image" width="791" height="497").d-block
          .main-section__image-decor.main-section__image-decor--1
            img(src="images/star-icon.svg" loading="lazy" alt="decor" width="60" height="60").d-block
          .main-section__image-decor.main-section__image-decor--2
            img(src="images/star-icon.svg" loading="lazy" alt="decor" width="60" height="60").d-block
