mixin menu()
  nav(data-menu).menu.hidden
    .menu__wrapper
      .menu__close
        button(data-close-menu).close-button
          img(src="images/icon-close.svg" loading="lazy" alt="close" width="16" height="16").d-block

      .menu__logo
        img(src="images/logo-main.svg" loading="lazy" alt="logo" width="251" height="70").d-block

      .menu__links
        +links()

      .menu__contacts
        .menu__contacts-modal
          +connection()
