section.price-section#price
  .wrapper
    .price-section__inner
      h2.price-section__title.font-s-48.text-center Завалим ваш отдел продаж 
        br
        span.color-primary целевыми Лидами

      .price-section__cards.font-s-24
        ul.price-section__cards-list
          li.price-section__cards-item
            .price-card.border-r-30
              h3.price-card__title.font-s-32.font-i-reg Оплата за результат
                img(src="images/star-icon-2.svg" loading="lazy" alt="icon" width="44" height="44").d-block
              .price-card__description.color-grey Вы платите только за переданные 
                br
                |и получение вами целевые Лиды 
                br
                |— их контактные данные (телефон, 
                br
                |Telegram, email)
              .price-card__image
                img(src="images/price-card-img-1.png" loading="lazy" alt="image" width="364" height="348").d-block
              .price-card__image-bg
          li.price-section__cards-item
            .price-card.border-r-30
              h3.price-card__title.font-s-32.font-i-reg Качественные лиды
                img(src="images/star-icon-2.svg" loading="lazy" alt="icon" width="44" height="44").d-block
              .price-card__description.color-grey Все передаваемые вам Лиды — 
                br
                |это потенциальные клиенты, которые 
                br
                |искали ваш товар или услугу
              .price-card__image
                img(src="images/price-card-img-2.png" loading="lazy" alt="image" width="364" height="348").d-block
              .price-card__image-bg
          li.price-section__cards-item
            .price-card.border-r-30
              h3.price-card__title.font-s-32.font-i-reg Любой объём — 
                br
                |на ваш выбор
                img(src="images/star-icon-2.svg" loading="lazy" alt="icon" width="44" height="44").d-block
              .price-card__description.color-grey Покупайте сколько контактов 
                br
                |потенциальных клиентов в месяц 
                br
                |— сколько требуется вам!
              .price-card__image
                img(src="images/price-card-img-3.png" loading="lazy" alt="image" width="364" height="348").d-block
              .price-card__image-bg
          li.price-section__cards-item
            .price-card.border-r-30
              h3.price-card__title.font-s-32.font-i-reg Комплекс технологий
                img(src="images/star-icon-2.svg" loading="lazy" alt="icon" width="44" height="44").d-block
              .price-card__description.color-grey После расчёта стоимости Лидов 
                br
                |и оплаты выбранного пакета — 
                br
                |вы получите уникальный 
                br
                |код для своего сайта, который 
                br
                |позволит отслеживать контакты тех, 
                br
                |кто не оставил заявку
              .price-card__image
                img(src="images/price-card-img-4.png" loading="lazy" alt="image" width="364" height="348").d-block
              .price-card__image-bg
