.burger-button
  padding: 0
  display block
  border: none
  cursor: pointer
  -webkit-tap-highlight-color: transparent
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  background: none
  transform: scale(1)
  transition: 0.3s
  &:focus
    transform: scale(0.9)