.connection
  &__list
    display: flex
    align-items: center
    gap: 8px
    line-height: auto
    font-size: 18px
    +above($breakpoints.xxl)
      font-size: 32px
      gap: 12px
    img
      border-radius: 4px
      width 24px
      height: 24px
      +above($breakpoints.xxl)
        border-radius: 8px
        width 40px
        height: 40px
