.footer
  &__wrapper
    background-color: $color-dark-grey
    color: $color-white
    border-radius: inherit
    border-bottom-left-radius: 0
    border-bottom-right-radius: 0
    padding: 30px 6px
    +above($breakpoints.md)
      padding: 50px 10px
    +above($breakpoints.xxl)
      padding: 80px 20px

  &__title
    line-height: normal
    margin: 0 0 16px 0
    font-size: 18px
    +above($breakpoints.md)
      font-size: 20px
    +above($breakpoints.xxl)
      margin: 0 0 20px 0
      font-size: 32px

  &__info
    line-height: normal
    margin: 0 0 30px 0
    font-size: 14px
    +above($breakpoints.md)
      font-size: 16px
    +above($breakpoints.xxl)
      margin: 0 0 40px 0
      font-size: 24px

  &__list
    display: flex
    justify-content: center
    line-height: normal
    flex-wrap: wrap
    gap: 3px
    font-size: 16px
    +above($breakpoints.xxl)
      font-size: 20px