.header
  height: 54px;
  +above($breakpoints.md)
    height: 66px;
  +above($breakpoints.xxl)
    height: 82px;

  &__placeholder
    height: 0;
    transition: height 0.2s ease;
    &.active
      height: inherit;

  &__wrapper
    height: inherit;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: inherit
    border-top-left-radius: 0
    border-top-right-radius: 0
    color: white;
    background-color: #2d2d2d;
    &.fixed
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000;

  &__inner
    display: flex
    justify-content: space-between
    align-items: center

  &__logo
    img
      height: 53px
      width 190px
      +above($breakpoints.md)
        height: 56px
        width 200px
      +above($breakpoints.xxl)
        width 251px
        height: 70px

  &__connection
    display: none
    +above($breakpoints.md)
      display: block

  &__links
    display: none
    +above($breakpoints.md)
      display: block

  &__burger
    +above($breakpoints.md)
      display: none
