.links
  &__list
    margin: 32px 0
    list-style: none;
    padding: 0;
    +above($breakpoints.md)
      margin: 0
      display: flex

  &__link
    display: block;
    text-decoration: none;
    padding: 11px 0;
    font-size: 16px;
    +above($breakpoints.md)
      transition: 0.3s
      padding: 12px 14px
      font-size: 16px
    +above($breakpoints.xxl)
      padding: 20px 30px
      font-size: 24px
    img
      +above($breakpoints.md)
        display: none
    &.active
      font-size: 18px;
      color: #ff812c
      +above($breakpoints.md)
        font-size: 16px
        color: inherit
      +above($breakpoints.xxl)
        font-size: 24px
      img
        opacity 1
    &:hover
      +above($breakpoints.md)
        color: #c0c0c0;

    span
      position relative
      display: inline-flex
      align-items: center
      gap: 16px
      +above($breakpoints.md)
        display: block
      img
        opacity 0
        margin: 2px 0 0 0
        transition: 0.3s
