.price-card
  background-color: #F6F6F6
  position relative
  z-index 1
  overflow: hidden
  padding: 28px 0 0 14px
  +above($breakpoints.sm)
    height: 348px
    padding: 28px 14px
  +above($breakpoints.md)
    height: 388px
    padding: 40px 20px
  +above($breakpoints.xxl)
    padding: 60px 40px
    height: 348px

  &__title
    display: flex
    align-items: flex-start
    gap: 14px
    margin: 0 0 12px 0
    +above($breakpoints.md)
      gap: 20px
      margin: 0 0 14px 0
    +above($breakpoints.xxl)
      gap: 30px
      margin: 0 0 20px 0
    img
      width 30px
      height: 30px
      +above($breakpoints.md)
        width 36px
        height: 36px
      +above($breakpoints.xxl)
        width 44px
        height: 44px
    br
      display: inline-block

  &__description
    padding: 0 10px 0 0
    +above($breakpoints.sm)
      padding: 0
    br
      display: none
      +above($breakpoints.md)
        display: inline-block

  &__image
    +above($breakpoints.sm)
      position: absolute
      z-index -1
      bottom: -1px
      right 0
    img
      height: auto
      width 200px
      margin: 0 0 0 auto
      +above($breakpoints.md)
        width 230px
      +above($breakpoints.xxl)
        width 364px

  &__image-bg
    position: absolute
    background-color: $color-dark-grey
    z-index -2
    border-radius: 100%
    transform: rotate(-19deg)
    bottom: -100px
    right -51px
    width 300px
    height: 210px
    +above($breakpoints.md)
      bottom: -83px
      width 320px
      height: 220px
    +above($breakpoints.xxl)
      transform: rotate(-19deg)
      width 374px
      height: 294px