.swiper-progress
  position relative !important
  height: 6px !important
  overflow: hidden
  background: rgba(160, 67, 222, 0.279)
  margin: 18px auto 0 auto
  border-radius: 10px !important
  width 230px !important
  +above($breakpoints.sm)
    display: none
  .swiper-pagination-progressbar-fill
    border-radius: 10px !important
    background: $color-primary