$base-font-family = "Inter-Regular"

$breakpoints = {
  xs: 480px,
  sm: 768px,
  md: 1024px,
  lg: 1200px,
  xl: 1300px,
  xxl: 1820px,
  xxxxxxl: 1921px,
}

$color-primary = #f60
$color-dark-grey = #2d2d2d
$color-light-grey =  #f6f6f6
$color-grey = #808080

$color-error = #d94c4c
$color-success = #35b24a
$color-warning = #ffa526
$color-white = #FFFFFF
$color-black = #000000
